#large-card {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 10em;
  height: 550px;
  width: 550px;
  margin: 3em;
  font-family: 'Long Cang', cursive;
  }

  h5 {
    display: flex;
    justify-content: center;
    margin-top: 1em;
  }

  // .hide {
  //   display: none;
  // }
// }