#planet-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 10em;

  .card {
    height: 250px;
    width: 250px;
    margin: 3em;
    font-family: 'Long Cang', cursive;
  }

  h1 {
    display: flex;
    justify-content: center;
    margin-top: 2em;
  }

  .hide {
    display: none;
  }
}